.sidebar {
  font-size: 10px;
  font-family: roboto, arial;
  width: 70px;
  height: 100%;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding-top: 60px;
}

.sidebar-link {
  height: 74px;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-link:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}
.sidebar-link img {
  height: 24px;
  margin-bottom: 6px;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
